@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://your-font-cdn-link.com/acumin-variable.css');
@import url('https://fonts.cdnfonts.com/css/acumin-pro');
@import url('@fortawesome/fontawesome-svg-core/styles.css');

@import url('react-slideshow-image/dist/styles.css');



:root {
  --background: #000000;
  --foreground: #ffffff;
}

html,
body {
  font-family: 'Georgia';
  box-sizing: border-box !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layer {
  background-color: #000000a1;
}


.image {
  background-image: url("/images/1.jpeg");
  background-position: center center;
  background-size: cover;
}

/* .image:hover {
  transform: scale(5);
  transition-duration: 5s;
}
.layer:hover {
  transform: scale(5);
  transform: translateX(20%);
  transition-duration: 5s;
} */

.layerHolding {
  background-color: #0000009a;
  opacity: 1;
  transition: 1s;

}

.layerHolding:hover {
  opacity: 0;
  transition: 1s;
}